header{
  background:#BBBBBB;
}

nav li{
display: inlina;
margem:0 0 0 15px;
}
nav a {
text_transform: uppercase
 color: #000000;
  font-weight:bolde
  font-size: 22px
  text-decoration:nome;
}
      
